apiVersion: apps/v1
kind: Deployment
metadata:
  name: flink-jobmanager
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flink
      component: jobmanager
  template:
    metadata:
      labels:
        app: flink
        component: jobmanager
    spec:
      containers:
      - name: jobmanager
        image: {{ .Values.flink.image }}
        imagePullPolicy: Never
        args: ["jobmanager"]
        ports:
        - containerPort: 8081
        - containerPort: 6123
        env:
        - name: JOB_MANAGER_RPC_ADDRESS
          value: flink-jobmanager
        - name: FLINK_PARALLELISM
          value: "2"
        - name: KAFKA_BOOTSTRAP_SERVERS
          value: kafka:9092
        - name: FLINK_PROPERTIES
          value: |
            metrics.reporter.prom.factory.class: org.apache.flink.metrics.prometheus.PrometheusReporterFactory
            metrics.reporter.prom.port: 9249
