apiVersion: v1
kind: Service
metadata:
  name: flink-jobmanager
spec:
  ports:
  - name: rpc
    port: 6123
    targetPort: 6123
  - name: blob
    port: 6124
    targetPort: 6124
  - name: query
    port: 6125
    targetPort: 6125
  - name: ui
    port: 8081
    targetPort: 8081
  selector:
    app: flink
    component: jobmanager
---
apiVersion: v1
kind: Service
metadata:
  name: kafka
spec:
  ports:
  - port: 9092
    targetPort: 9092
  selector:
    app: kafka
---
apiVersion: v1
kind: Service
metadata:
  name: flink-taskmanager
spec:
  ports:
  - name: metrics
    port: 9249
    targetPort: 9249
  - name: rpc
    port: 6122
    targetPort: 6122
  selector:
    app: flink
    component: taskmanager
